* {
    margin: 0;
}
.Header {
    min-height: 5vh;
    background-color: rgb(51, 51, 51);
    display: flex;
    justify-content: center;
    align-items:center;
    color: rgb(238, 238, 238);
}
.Main {
    min-height: 84vh;
    display: flex;
    padding: 4vh 6vw;
    background-color: rgb(204, 204, 204);;
}
.Formside, .Appside {
    min-width: 40vw;
    background-color: rgb(238, 238, 238);;
    margin-right: 3vw;
}
/* form styling */
form {
    display: flex;
    flex-direction: column;
    padding: 2vh;
    gap: .9vh;
}
input {
    height: 2.2vh;
}
label {
    font-size: 2.2vh;
    font-weight: bold;
}
button {
    background-color: rgb(51, 51, 51);
    color: rgb(238,238,238);
    height: 3vh;
    font-weight: bold;
    font-size: 15px;
}
img {
    border-radius: 100%;
}
.Submit {
    background-color: rgb(27, 161, 72);
}

/* App side styling */
.Appside {
    width: 45vw;
    background-color: rgb(238, 238, 238);
}
.mainApp {
    display: flex;
    background-color: antiquewhite;
    height: 74vh;
    color: rgb(20, 62, 114);
}
.topApp {
    height: 10vh;
    background-color: rgb(20, 62, 114);
    color: white;
}
.leftmainApp {
    width: 30vw;
    background-color: aquamarine;
}




.Footer {
    color: rgb(238, 238, 238);
    min-height: 3vh;
    background-color: rgb(51, 51, 51);
    display: flex;
    justify-content: center;
    align-items:center;
}
